* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%; /* set default size to 10px for simplicity */
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li {
  margin: 0 0 calc(1.4rem * 1.5);
}

h1, h2, h3, .heading {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.App-header {
  align-items: center;
  background-color: #113b92;
  color: white;
  display: flex;
  min-height: 10rem;
  padding: 2rem;
}

.App-title {
  margin: 0;
}

.app-main {

  /*@media screen (min-width: 900px) {*/
    align-content: stretch;
    display: flex;
    flex-flow: row nowrap;
  min-height: calc(100vh - 10rem);
  /*}*/
}

.app-content {
  padding: 5vw;
}



.services {
  background: #ccc;
  width: 250px;
}

.services__heading {
  font-size: 1rem;
  padding: 2rem 1rem;
  text-transform: uppercase;
}

.services__list {
  list-style: none;
  padding: 0;
}

.services__item {
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

.services__link {
  background: #999;
  color: #fff;
  display: block;
  padding: 1rem 8rem 1rem 1rem;
  text-decoration: none;
}


.services__link--bakerloo          {background-color: #894e24; }
.services__link--central           {background-color: #dc241f; }
.services__link--circle            {background-color: #ffce00; color: #000; }
.services__link--district          {background-color: #007229;}
.services__link--dlr               {background-color: #00afad;}
.services__link--hammersmith-city  {background-color: #d799af; color: #000; }
.services__link--jubilee           {background-color: #6a7278;}
.services__link--london-overground {background-color: #e86a10;}
.services__link--metropolitan      {background-color: #751056;}
.services__link--northern          {background-color: #000;}
.services__link--piccadilly        {background-color: #0019a8;}
.services__link--victoria          {background-color: #00a0e2; color: #000; }
.services__link--waterloo-city     {background-color: #76d0bd; color: #000; }

.services__link--cycle-hire        {padding-top: 3rem; }

.icons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  background: url(../img/tfl-sprite.png) no-repeat 0 0;
  background-size: 128px auto;
  float: right;
  height: 4rem;
  overflow: hidden;
  position: relative;
  text-indent: 4rem;
  transform: scale(0.9);
  white-space: nowrap;
  width: 4rem;
  z-index: 1;
}

.services__item .icon {
  margin: 0 2px;
}

.icon--disruption {
  background-position: 0 -1110px;
}

.icon--night {
  background-position: -40px -1664px;
}
